@use '../../foundation/setting' as s;
@use '../../foundation/mixin' as *;

/* c-gnav*/
.c-gnav{

    &__list{
        display: flex;
        @include tab{
            display: block;
        }
    }

    &__link{
        display: block;
    }
} 