@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* base */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 374px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* l-body */
.l-body.noScroll {
  overflow: hidden;
}

/* l-header */
.l-header {
  position: relative;
}
.l-header__btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .l-header__gnav {
    display: none;
  }
  .l-header__gnav.menu_isOpen {
    display: block;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 768px) {
  .l-header__btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* l-footer */
/* l-inner */
.l-inner {
  width: 1000px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

/* c-site */
.c-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.c-site__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* c-gnav*/
.c-gnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-gnav__link {
  display: block;
}

/* c-btnMenu*/
.c-btnMenu {
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
.c-btnMenu span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: relative;
}
.c-btnMenu span::before, .c-btnMenu span::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.c-btnMenu span::before {
  top: 0.8rem;
}
.c-btnMenu span::after {
  top: -0.8rem;
}

/* btnMenu_isOnがついた時のスタイル */
.c-btnMenu.btnMenu_isOn span {
  background-color: transparent;
}
.c-btnMenu.btnMenu_isOn span::before, .c-btnMenu.btnMenu_isOn span::after {
  top: 0;
}
.c-btnMenu.btnMenu_isOn span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.c-btnMenu.btnMenu_isOn span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* c-ttl*/
/* c-btn */
/* u-align */
.u-align--center {
  text-align: center !important;
}
.u-align--right {
  text-align: right !important;
}

/* u-txt */
/* u-display */
.u-display--pcNone {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .u-display--pcNone {
    display: block !important;
  }
}
@media screen and (max-width: 768px) {
  .u-display--spNone {
    display: none !important;
  }
}
.u-display--inlineBlock {
  display: inline-block;
}